@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  background: #151515;
}