version: "3.9"

services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appdb
    ports:
      - "3306:3306"
    volumes:
      - mysql_portfolio:/var/lib/mysql

  mongo:
    image: mongo:7
    container_name: portfolio-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_portfolio:/data/db

  redis:
    image: redis:7
    container_name: portfolio-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_portfolio:/data

volumes:
  mysql_portfolio:
  mongo_portfolio:
  redis_portfolio: